//colors
$background_color: #ff99bb;
$button_color: #660033;
$button_color_disabled: #301c26;
$white: white;
$black: black;
$background_snake: #e767a3;

//fonts
$font: 'verdana';

//@extend-elements
%bodyhtml {
	background-color: $background_color;
	font-family: $font;
	font-size: 15px;
	color: $black;
}

html {

    body {
	  @extend %bodyhtml;
    }
  
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 800px;
	align-items: center;

	#game{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $font;
		font-size: 15px;

		#container{
			border: 2px solid $black;
			width: 500px;
			height: 500px;
			background-color: $background_snake;
		}

		#btn{
			background-color: $button_color;
			border: none;
			color: $white;
			padding: 10px 30px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			margin: 2%;
			cursor: pointer;
			background-color: $button_color;
			width: 100px;
		}

		#btn:disabled{
			background-color: $button_color_disabled;
		}

	}

	#memes{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
			
}
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 800px;
	align-items: right;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
    width: 800px;

    a {
        border: none;
        color: $white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        background-color: $button_color;
		width: 160px;
		height: 40px;
    }
    
}