//colors
$background_color: #ff99bb;
$button_color: #660033;
$white: white;
$black: black;
$mercury: #e5e5e5;

//fonts
$font: 'verdana';

//@extend-elements
%bodyhtml {
	background-color: $background_color;
	font-family: $font;
	font-size: 15px;
}

html {

    body {
      @extend %bodyhtml;
    }
  
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;

	#container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
		height: 100%;
		margin-top: 50px;
		width: 800px;

		> div {
			margin: 5px 10px 0 0;

			> img {
				transform: translateZ(0);
				transition: transform .5s;
			}

			&:hover {
				z-index: 1;

				> img {
					transform: scale(2,2);
					transition: transform .7s;
				}

			}

		}

	}

}
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 800px;
	align-items: right;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
    width: 800px;

    a {
        border: none;
        color: $white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        background-color: $button_color;
        width: 100px;
    }

}