html body {
  background-color: #ff99bb;
  font-family: "verdana";
  font-size: 15px;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
  align-items: center;
}
.container #game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "verdana";
  font-size: 15px;
}
.container #game #container {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  background-color: #e767a3;
}
.container #game #btn {
  background-color: #660033;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2%;
  cursor: pointer;
  background-color: #660033;
  width: 100px;
}
.container #game #btn:disabled {
  background-color: #301c26;
}
.container #memes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
  align-items: right;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
}
.footer a {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #660033;
  width: 160px;
  height: 40px;
}
